.admin-categories {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.table-container {
  overflow-x: auto; 
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .table-container th, td {
    font-size: 14px; 
  }

  .table-container th {
    display: none;
  }

  .table-container  tr {
    display: block; 
    margin-bottom: 10px; 
  }

  .table-container  td {
    display: flex; 
    justify-content: space-between; 
    padding: 10px;
    border: none; 
    background-color: #f9f9f9; 
  }

  .table-container td::before {
    content: attr(data-label); 
    font-weight: bold; 
    margin-right: 10px; 
  }
}
