.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
.splash-content {
  padding: 2rem;
}
.logo {
  margin: 2rem 0;
}
.logo-placeholder img {
  width: 236px;
  height: 236px;
}
